<form class="new-post-form">
    <h2>New Post</h2>
    <div class="input-container"> 
        <div>
            <label for="new-post-title">Title:</label>
            <input type="text" id="new-post-title" />
        </div>
        <div>
            <label for="new-post-conent">Content:</label>
            <textarea type="text" id="new-post-conent"></textarea>
        </div>
        <div>
            <button type="submit">Submit</button>
        </div>
    </div>
</form>

<script src="/javascript/add-post.js"></script>